body, html {
  background: #FFE9E6; 
}

#main {
  background: #FFE9E6;
}

.main-body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

#main-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
}

.row {
   margin-top: 50px;
}

.index-post {
  margin-left: 150px;
}

#show-post-message {
  margin-bottom: 50px;
}

#show-comment {
  padding: 5%;
}

#category {
  margin-bottom: 1%;
}

.total-votes {
  font-size: 20px;
}

.votes {
  border: solid 3px orange;
  padding: 7px;
  border-radius: 50%;
}

.nav {
  color: #D771D7;
}

#top {
  background:  #C7FFDA;
}

.navbar-fixed-top { margin-bottom: 0px; }
.navbar { margin-bottom: 0; }

#stamp {
  float: left;
  margin-right: 50px;
}

#header {
  margin: 50px;
}

#nav-button {
  float: right;
}

footer {
  margin-top: 100px;
}
