
.main-body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

#main-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
}

.index-post {
  margin: 2% 2%;
}

#show-comment {
  padding: 5%;
}

.nav {
  color: #A895CD;
}

#top {
  background:  #C7FFDA;
}

#main {
  background: #EFFFFF;
  margin-top: 0;
}


